.cart-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:70vh;
}

.cart-img{
    width:350px;
}

.shop-now-btn{
    background-color:rgb(79, 79, 204);
    border-radius:5px;
    color:#ffffff;
    font-size:20px;
    cursor:pointer;
    display:flex;
    align-items:center;
}

