.home-heading{
    font-size:30px;
    font-family:'Roboto';
    text-align:center;
}
.item-card{
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.items-img{
    height:60px;
    width:60px;
    border-radius:25px;
    padding:20px;

}

.home-container{
    display:flex;
    justify-content:space-around;
    align-items:center;

}